name: Deployment (Container)
on:
  push:
    branches:
      - main
      - dev
env:
  CACHE_KEY: node-deps
  MONGODB_DB_NAME: gha-demo
jobs:
  test:
    environment: testing
    runs-on: ubuntu-latest
    container: # runs the job in a container, which is ideal for testing and deployment
      image: node:18 # use the official Node.js image from Docker Hub
      # env: # set environment variables for the container, which can be used in the steps below
    env:
      MONGODB_CONNECTION_PROTOCOL: mongodb # use the appropriate protocol for connecting to MongoDB, such as mongodb or mongodb+srv
      MONGODB_CLUSTER_ADDRESS: mongodb # use the service name defined below to connect to the MongoDB service
      MONGODB_USERNAME: root
      MONGODB_PASSWORD: examplepassword
      PORT: 8080
    services: # define additional services that the container can use, such as a database
      mongodb:
        image: mongo # use the official MongoDB image from Docker Hub
        env: # set environment variables for the MongoDB service, which can be used in the application
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: examplepassword

    # Need to use below if this is not running inside a container, but since we are running inside a container, we can use the service name defined above to connect to MongoDB
    # env:   
    #   MONGODB_CONNECTION_PROTOCOL: mongodb # use the appropriate protocol for connecting to MongoDB, such as mongodb or mongodb+srv
    #   MONGODB_CLUSTER_ADDRESS: 127.0.0.1:127017 # use the service name defined below to connect to the MongoDB service
    #   MONGODB_USERNAME: root
    #   MONGODB_PASSWORD: examplepassword
    #   PORT: 8080
    # services: # define additional services that the container can use, such as a database
    #   mongodb:
    #     image: mongo # use the official MongoDB image from Docker Hub
    #     env: # set environment variables for the MongoDB service, which can be used in the application
    #       MONGO_INITDB_ROOT_USERNAME: root
    #       MONGO_INITDB_ROOT_PASSWORD: examplepassword
    #     ports:
    #       - 127017:27017 # map the MongoDB port to the host machine, so that the application can connect to it using localhost

    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ env.CACHE_KEY }}-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Run server
        run: npm start & npx wait-on http://127.0.0.1:$PORT # requires MongoDB Atlas to accept requests from anywhere!
      - name: Run tests
        run: npm test
      - name: Output information
        run: |
          echo "MONGODB_USERNAME: $MONGODB_USERNAME"
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Output information
        env:
          PORT: 3000
        run: |        
          echo "MONGODB_DB_NAME: $MONGODB_DB_NAME"
          echo "MONGODB_USERNAME: $MONGODB_USERNAME"
          echo "${{ env.PORT }}"
